# REST API
HTTP_URL=localhost:8080
HTTP_READ_TIMEOUT=5s
HTTP_WRITE_TIMEOUT=5s

# GRPC
GRPC_URL=localhost:8081

# название хоста, которое будет добавляться к коду
PUBLIC_HOST=https://shorty.io/

# способ хранения данных: "POSTGRES" или "IN_MEMORY"
STORE_TYPE=POSTGRES

# PostgreSQL
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DBNAME=shorten
PG_SSL_MODE=disable

PG_MAX_OPEN_CONN=20
PG_MAX_IDLE_CONN=10
PG_CONN_MAX_LIFETIME=5m
